name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests (feature joliet)
      run: cargo test --no-default-features --features joliet --verbose
    - name: Run tests (feature std, joliet)
      run: cargo test --no-default-features --features joliet,std --verbose
